h1 {
  font-size: 48px;
  background-color: red; }

body {
    background-image: url("//cdn1.editmysite.com/uploads/2/8/8/6/28864503/background-images/1938308286.png") !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 100% !important;
    background-color: transparent !important;
    background: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
}